*{
    box-sizing: border-box;
    margin: 0;
    padding: 5px;
    text-decoration: none;
    background-color: #22232c;
    color: white;
    font-size: 20px;
    /*글꼴 설정*/
    font-family: "Jua", sans-serif;
    font-weight: 100;
    font-style: normal;
}
.button-group {
    display: flex;
    justify-content: right;
}
button {
    width: 100px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: greenyellow;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    color: white;
}
input, textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid greenyellow;
    border-radius: 10px;
    padding: 10px;
    outline: none;
}
input:focus, textarea:focus {
    border-color: white;
    box-shadow: 0 0 5px rgba(30, 200, 0, 0.5);
}
td, th {
    border: 2px solid greenyellow;
}
.sub-table {
    border-collapse: collapse;
    border: none;
    width: 100%;
    height: 200px;
    background-color: #000000;
    margin: 20px auto;
}
.sub-table th {
    width: 100px;
}
.main-table {
    border-collapse: collapse;
    border: 2px solid greenyellow;
    width: 100%;
    background-color: black;
    margin: 20px auto;
}
.comment-list-table {
    border-collapse: collapse;
    border: 2px solid greenyellow;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}
.comment-table {
    border-collapse: collapse;
    border: 2px solid greenyellow;
    width: 100%;
}
.comment-table th {
    border:none;
}
.comment-table td {
    border: none;
}
.content {
    padding: 20px;
}
.master-board {
    margin-top: 150px;
    padding: 5px;
    background-color: greenyellow;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
/* 네비게이션 바 스타일 */
.nav {
    position: fixed;
    top: 0;
    width: 100%;
    color: greenyellow;
    z-index: 1000;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.nav ul li a {
    color: greenyellow;
    text-decoration: none;
    font-weight: bold;
}

.nav ul li a:hover {
    color: white;
}

/* 페이지 섹션 스타일 */
section {
    margin-top: 100px;  /* 네비게이션 바가 화면을 덮지 않도록 여백을 줌 */
    background-color: #f4f4f4;
    border: 1px solid greenyellow;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: greenyellow;
}
