<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/BoardStyle.css">
    <title>게시판 실습</title>
</head>
<body>
<h2>게시판 개인실습 : 목록보기</h2>
<form method="get">
    <table class="main-table">
        <tr>
            <th colspan="4">총 게시물 수</th>
            <th colspan="2" th:text="${totalCount}"></th>
        </tr>
        <tr>
            <th width="10%">번호</th>
            <th width="*">제목</th>
            <th width="10%">작성자</th>
            <th width="10%">조회수</th>
            <th width="20%">작성일</th>
            <th width="10%">좋아요</th>
        </tr>
        <tr th:each="boardEntity : ${boardEntities}">
            <td th:text="${boardEntity.id}" style="text-align: center"></td>
            <td>
                <a th:href="@{/viewPost/{id}(id=${boardEntity.id})}"
                   th:text="${boardEntity.title}"></a>
            </td>
            <td th:text="${boardEntity.author}" style="text-align: center"></td>
            <td th:text="${boardEntity.views}" style="text-align: center"></td>
            <td th:text="${#temporals.format(boardEntity.createDate, 'yyyy-MM-dd')}" style="text-align: center"></td>
            <td th:text="${boardEntity.likes}" style="text-align: center"></td>
        </tr>
    </table>
    <div class="button-group">
        <button type="button" th:if="${session.loggedInUser == null}" onclick="location.href='/login'">로그인</button>
        <button type="button" th:if="${session.loggedInUser != null}" onclick="location.href='/addBoardForm'">글작성</button>
        <button type="button" th:if="${session.loggedInUser != null}" onclick="location.href='/logout'">로그아웃</button>
    </div>
</form>
</body>
</html>
