<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
    <div class="card text-bg-dark mb-3">
        <div class="card-header">게시글 목록보기</div>
        <div class="card-body">
            <form method="get">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="button" class="btn btn-outline-primary" th:if="${session.loggedInUser != null}" onclick="location.href='/addBoardForm'">글작성</button>
                </div>
                <br>
                <table class="table table-striped">
                    <tr>
                        <th width="*">제목</th>
                        <th width="10%">작성자</th>
                        <th width="20%">작성일</th>
                        <th width="10%">좋아요</th>
                    </tr>
                    <tr th:each="board : ${boardEntities}">
                        <td>
                            <a th:href="@{/viewPost/{id}(id=${board.id})}">[[${board.title}]]</a>
                        </td>
                        <td>[[${board.author}]]</td>
                        <td>[[${#temporals.format(board.createDate, 'yyyy-MM-dd')}]]</td>
                        <td>[[${board.likes}]]</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">

</script>
