<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
    <div class="card text-bg-dark mb-3">
        <div class="card-header">로그인</div>
        <form action="/login" method="post">
            <div class="card-body">
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width:15%">아이디</span>
                    <input class="form-control" type="text" id="id" name="id" required>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" style="width:15%">비밀번호</span>
                    <input class="form-control" type="password" id="pass" name="pass" required>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <button type="submit" class="btn btn-outline-primary">로그인</button>
                    <button type="button" onclick="location.href='/register'" class="btn btn-outline-secondary">회원가입</button>
                    <button type="button" onclick="location.href='/products'" class="btn btn-outline-dark">목록보기</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script layout:fragment="script" th:inline="javascript">

</script>