<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Yeon+Sung&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>관리자페이지</title>
</head>
<body>
<link rel="stylesheet" href="/css/BoardStyle.css">
<nav class="nav">
    <h1>게시판 개인실습 : 관리자 페이지</h1>
    <ul>
        <li><a href="#" onclick="showContent('home')">공지사항</a></li>
        <li><a href="#" onclick="showContent('product')">쇼핑몰관리</a></li>
        <li><a href="#" onclick="showContent('users')">유저관리</a></li>
        <li><a href="#" onclick="showContent('posts')">게시물관리</a></li>
        <li><a href="#" onclick="showContent('comment')">댓글관리</a></li>
    </ul>
    <div class="button-group">
        <button type="button" onclick="location.href='/boardList'">목록보기</button>
    </div>
</nav>
<div class="master-board">
    <form method="get">
        <div id="home" class="content">
            <h2>관리자 공지</h2>
            <p>2024-10-06 로그인하면 바로 관리자 모드로 전환되도록 수정함. 관리자 페이지 정보표시 구축중</p>
            <p>2024-10-07 게시물 관리 업데이트. 개별삭제는 잘 작동함. 전체삭제테스트필요</p>
            <p>2024-10-08 전체삭제 테스트 완료. 관리자 보드와 유저 보드 통합 및 초기화 진행.</p>
            <p>2024-10-09 유저관리 신메뉴 개발. 아직까진 유저 총 조회밖에 안됨.</p>
            <p>2024-10-09 회원가입폼 입력정보 추가. not null속성은 부여하지않아서 자유롭게 서술가능</p>
            <p>2024-10-10 댓글관리 신메뉴 개발. 댓글 조회 및 삭제가능. 전체삭제도 가능하지만 역시 테스트 안해봄</p>
            <p>2024-10-11 댓글 전체 삭제 테스트 완료. 잘 작동함...</p>
            <p>2024-10-13 쇼핑몰 프로젝트 시작. 상품 상세페이지까지는 구현완료</p>
        </div>
        <div id="product" class="content">
            <h2>상품관리</h2>
            <table class="main-table">
                <tr>
                    <th>상품번호</th>
                    <th>상품명</th>
                    <th>가격</th>
                    <th>상품설명</th>
                    <th>등록일</th>
                    <th>누적판매량</th>
                </tr>
                <tr th:each="products : ${products}">
                    <td th:text="${products.id}" style="text-align: center"></td>
                    <td th:text="${products.productName}" style="text-align: center"></td>
                    <td th:text="${products.price}" style="text-align: center"></td>
                    <td th:text="${products.description}" style="text-align: center"></td>
                    <td th:text="${#temporals.format(products.createdAt, 'yyyy.MM.dd HH:mm')}" style="text-align: center"></td>
                    <td th:text="${products.saleVolume}" style="text-align: center"></td>
                </tr>
            </table>
        </div>
        <div id="users" class="content" style="display:none;">
            <h2>유저목록</h2>
            <table class="main-table">
                <tr>
                    <th colspan="5">총 인원수</th>
                    <th th:text="${userCount}"></th>
                </tr>
                <tr>
                    <th>아이디</th>
                    <th>이름</th>
                    <th>전화번호</th>
                    <th>이메일</th>
                    <th>생년월일</th>
                    <th>권한</th>
                </tr>
                <tr th:each="useEntity : ${users}">
                    <td th:text="${useEntity.id}" style="text-align: center"></td>
                    <td th:text="${useEntity.name}" style="text-align: center"></td>
                    <td th:text="${useEntity.phone}" style="text-align: center"></td>
                    <td th:text="${useEntity.e_mail}" style="text-align: center"></td>
                    <td th:text="${useEntity.birth}" style="text-align: center"></td>
                    <td th:text="${useEntity.role}" style="text-align: center"></td>
                </tr>
            </table>
        </div>
    </form>
    <form method="post" th:action="@{/deletePosts}">
        <div id="posts" class="content" style="display:none;">
            <h2>게시물 삭제</h2>
            <table class="main-table">
                <tr>
                    <th colspan="5">총 게시물 수</th>
                    <th colspan="3" th:text="${totalCount}"></th>
                </tr>
                <tr>
                    <th><input type="checkbox" id="selectAllBoards"></th>
                    <th width="5%">번호</th>
                    <th width="10%">제목</th>
                    <th width="*">내용</th>
                    <th width="8%">작성자</th>
                    <th width="8%">조회수</th>
                    <th width="10%">작성일</th>
                    <th width="8%">좋아요</th>
                </tr>
                <tr th:each="boardEntity : ${boardEntities}">
                    <td><input type="checkbox" name="boardIds" th:value="${boardEntity.id}"></td>
                    <td th:text="${boardEntity.id}" style="text-align: center"></td>
                    <td th:text="${boardEntity.title}"></td>
                    <td th:text="${boardEntity.content}"></td>
                    <td th:text="${boardEntity.author}" style="text-align: center"></td>
                    <td th:text="${boardEntity.views}" style="text-align: center"></td>
                    <td th:text="${#temporals.format(boardEntity.createDate, 'yyyy.MM.dd HH:mm')}" style="text-align: center"></td>
                    <td th:text="${boardEntity.likes}" style="text-align: center"></td>
                </tr>
            </table>
            <button type="submit">삭제</button>
        </div>
    </form>
    <form method="post" th:action="@{/deleteComments}">
        <div id="comment" class="content">
            <h2>댓글삭제</h2>
            <table class="main-table">
                <tr>
                    <th><input type="checkbox" id="selectAllComments"></th>
                    <th>댓글내용</th>
                    <th>작성자</th>
                    <th>작성일자</th>
                </tr>
                <tr th:each="commentEntity : ${comments}">
                    <td><input type="checkbox" name="commentId" th:value="${commentEntity.id}"></td>
                    <td th:text="${commentEntity.content}"></td>
                    <td th:text="${commentEntity.author}" style="text-align: center"></td>
                    <td th:text="${#temporals.format(commentEntity.created_at, 'yyyy.MM.dd HH:mm:ss')}" style="text-align: center"></td>
                </tr>
            </table>
            <button type="submit">삭제</button>
        </div>
    </form>
    <script src="/js/MasterPage.js"></script>
</div>
</body>
</html>