<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
  <div class="card text-bg-secondary mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img th:src="${product.imageUrl}" class="img-fluid rounded-start" th:alt="${product.productName}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 th:text="${product.productName}" class="card-title"></h4>
          <p th:text="${product.description}" class="card-text"></p>
          <p th:text="${product.price}+' 원'" class="card-text"></p>
          누적판매량 <p class="card-text"><small th:text="${product.saleVolume+' 개'}" class="text-body-secondary"></small></p>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button onclick="location.href='/orderPage'" type="button" class="btn btn-outline-dark">주문하기</button>
            <button onclick="location.href='/products'" type="button" class="btn btn-outline-dark">목록보기</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script layout:fragment="script" th:inline="javascript">

</script>
