<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic.html}" lang="en">
<div layout:fragment="content">
  <div class="card text-bg-dark mb-3">
    <div class="card-header">게시글 상세보기</div>
    <div class="card-body">
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form th:action="@{/editBoard/{id}(id=${boardEntity.id})}" th:if="${session.loggedInUser == boardEntity.user.id || session.userRole == 'MASTER'}" method="get">
          <button type="submit" class="btn btn-outline-success">수정하기</button>
        </form>
        <form th:action="@{/deletePost}" th:if="${session.loggedInUser == boardEntity.user.id || session.userRole == 'MASTER'}" method="post" onsubmit="return confirm('삭제하시겠습니까?')">
          <input type="hidden" name="id" th:value="${boardEntity.id}">
          <button type="submit" class="btn btn-outline-danger">삭제하기</button>
        </form>
      </div>
      <br>
      <form method="get">
        <table class="table table-striped">
          <colgroup>
            <col width="15%"/><col width="35%"/>
            <col width="15%"/><col width="*"/>
          </colgroup>
          <tr>
            <th>제목</th><td th:text="${boardEntity.title}"></td>
            <th>작성자</th><td th:text="${boardEntity.author}"></td>
          </tr>
          <tr>
            <th>내용</th><td colspan="3" th:text="${boardEntity.content}"></td>
          </tr>
          <tr>
            <th>좋아요</th><td colspan="3" th:text="${boardEntity.likes}"></td>
          </tr>
        </table>
      </form>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <form action="/like" method="post">
          <input type="hidden" name="id" th:value="${boardEntity.id}">
          <button type="submit" onclick="location.href='/likeBoard'" class="btn btn-outline-info">좋아요👍</button>
        </form>
        <form action="/boardList" method="get">
          <button type="button" onclick="location.href='/boardList'" class="btn btn-outline-dark">목록보기</button>
        </form>
      </div>
    </div>
  </div>
  <div class="card text-bg-dark mb-3">
    <div class="card-header">댓글 목록</div>
    <div class="card-body">
      <form action="/viewPost/" method="get">
        <table class="table table-striped">
          <tr th:each="commentEntity : ${commentEntities}">
            <th width="*" th:text="${commentEntity.content}"></th>
            <td width="20%" th:text="${commentEntity.author}"></td>
          </tr>
        </table>
      </form>
      <form action="/addComment" method="post" th:if="${session.loggedInUser != null}">
        <input type="hidden" name="name"  th:value="${session.userName}">
        <table class="table table-striped">
          <tr>
            <th width="15%" style="vertical-align: middle">댓글쓰기</th>
            <input type="hidden" name="boardId" th:value="${boardEntity.id}">
            <input type="hidden" name="author" th:value="${session.userName}">
            <td width="*"><textarea name="content" class="form-control" required></textarea></td>
          </tr>
        </table>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <button type="submit" class="btn btn-outline-success">댓글등록</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script layout:fragment="script" th:inline="javascript">

</script>