<!DOCTYPE>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/BoardStyle.css">
  <title>게시글보기</title>
</head>
<body>
<h2>게시판 개인실습 : 게시글 상세보기</h2>
<form method="get">
<table class="sub-table">
  <colgroup>
    <col width="15%"/><col width="35%"/>
    <col width="15%"/><col width="*"/>
  </colgroup>
  <tr>
    <th>번호</th><td th:text="${boardEntity.id}" style="text-align: center"></td>
    <th>조회수</th><td th:text="${boardEntity.views}" style="text-align: center"></td>
  </tr>
  <tr>
    <th>제목</th><td th:text="${boardEntity.title}" style="text-align: center"></td>
    <th>작성자</th><td th:text="${boardEntity.author}" style="text-align: center"></td>
  </tr>
  <tr>
    <th>내용</th><td colspan="3" th:text="${boardEntity.content}"></td>
  </tr>
  <tr>
    <th>등록 시간</th><td th:text="${#temporals.format(boardEntity.createDate, 'HH시 mm분')}" style="text-align: right"></td>
    <th>좋아요</th><td th:text="${boardEntity.likes}" style="text-align: center"></td>
  </tr>
</table>
</form>
<div class="button-group">
  <form action="/like" method="post">
    <input type="hidden" name="id" th:value="${boardEntity.id}">
    <button type="submit" onclick="location.href='/likeBoard'">좋아요👍</button>
  </form>
  <form action="/boardList" method="get">
    <button type="button" onclick="location.href='/boardList'">목록보기</button>
  </form>
  <form th:action="@{/editBoard/{id}(id=${boardEntity.id})}" method="get">
    <input type="hidden" name="id" th:value="${boardEntity.id}">
    <button type="submit">수정하기</button>
  </form>
  <form action="/deletePost" method="post" onsubmit="return confirm('삭제하시겠습니까?')">
    <input type="hidden" name="id" th:value="${boardEntity.id}">
    <button type="submit">삭제하기</button>
  </form>
</div>
<h3>댓글 목록</h3>
<form action="/viewPost/" method="get">
  <table class="comment-list-table">
    <tr th:each="commentEntity : ${commentEntities}">
      <th width="*" th:text="${commentEntity.content}"></th>
      <td width="10%" th:text="${commentEntity.author}"></td>
      <td width="15%" th:text="${#temporals.format(commentEntity.created_at,'yyyy-MM-dd')}"></td>
    </tr>
  </table>
</form>
<form action="/addComment" method="post">
  <input type="hidden" name="boardEntity.id" th:value="${boardEntity.id}">
  <table class="comment-table">
    <tr>
      <th width="15%">댓글쓰기</th>
      <td width="*"><textarea name="content" required></textarea></td>
      <td width="20%"><input type="text" name="author" placeholder="작성자" required></td>
    </tr>
  </table>
  <button type="submit">댓글등록</button>
</form>
</body>
</html>